@use '../../variables' as v;

.header__subtitle {
    @include v.P-normal;
    color: v.$color-white;
    width: 562px;
    text-align: center;
    margin: 0 0 46px 0;
}

@media screen and (max-width: 590px) {
    .header__subtitle {
        @include v.Mobile-P-normal;
        width: 300px;
        margin-bottom: 40px;
    }
}