.construct-tour__arrow {
    display: block;
    width: 13.3px;
    height: 13.3px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    transform: rotate(45deg);
    position: absolute;
    top: 60px;
    right: 24px;
    pointer-events: none;
}

@media screen and (max-width: 500px) {
    .construct-tour__arrow {
        top: 40px;
    }
}