.header__logo {
    position: relative;
    width: 181px;
    height: 30px;
    z-index: 3;

}

@media screen and (max-width: 400px) {
    .header__logo {
        height: 22px;
        width: 133px;
    }
}