@use '../variables' as v;

.page {
    background-color: v.$color-biege-100;
    margin: 0 auto;
    min-width: 320px;
    font-family: 'Roboto','Helvetica', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    display: flex;
    flex-direction: column;
    
}
