@use '../../variables' as v;

.footer__link-text {
    @include v.P-normal;
    color: v.$color-black;
    transition: 500ms;
    border-bottom: 1px solid transparent;
    @media (hover: hover) {
        &:hover {
            border-color: inherit;
        }
    }
}