@use '../../variables' as v;

.cosntruct-tour__form-button {
    width: 235px;
    padding: 15px 30px;
    border-radius: 10px;
    @include v.P-normal;
    border: 0;

}

@media screen and (max-width: 825px) {
    .cosntruct-tour__form-button {
        width: 134px;
        padding: 10px;
        @include v.Mobile-P-normal;
    }
}