@use '../../variables' as v;


.header__link {
    text-decoration: none;
    color: inherit;
    @include v.P-normal;
    box-sizing: border-box;
    @media (hover: hover) {
        &:hover {
            text-decoration: underline;
            text-underline-offset: 5px;
        }
    }

}