@use '../../variables' as v;


.header__link {
    text-decoration: none;
    color: inherit;
    @include v.P-normal;
    box-sizing: border-box;
    transition: 500ms;
    border-bottom: 1px solid transparent;

    
    @media (hover: hover) {
        &:hover {
            border-color: inherit;
            
        }
    }

}