.header__navigation {
    position: relative;
    display: flex;
    gap: 50px;
    z-index: 3;
    color: inherit;
}

@media screen and (max-width: 1140px) {
    .header__navigation {
        gap: 30px
    }
}

@media screen and (max-width: 840px) {
    .header__navigation {
        display: none;
    }
}