@use '../../variables' as v;

.footer__link {
    text-decoration: none;

    box-sizing: border-box;
    display: flex;
}

@media screen and (max-width: 500px) {
    .footer__link {
        @include v.Mobile-P-normal;
        text-align: center;
    }
}