@use '../../variables' as v;

.footer__link {
    text-decoration: none;
    @include v.P-normal;
    color: v.$color-black;
    box-sizing: border-box;
    transition: 500ms;
    border-bottom: 2px solid transparent;
    display: flex;
    @media (hover: hover) {
        &:hover {
            border-color: inherit;
        }
    }

}

@media screen and (max-width: 500px) {
    .footer__link {
        @include v.Mobile-P-normal;
        text-align: center;
    }
}