@use '../../variables' as v;

.history-tour__card-link {
    text-decoration: none;
    color: v.$color-white;
    @include v.P-normal;
    cursor: pointer;
    box-sizing: border-box;
    transition: 500ms;
    border-bottom: 1px solid transparent;
    @media (hover: hover) {
        &:hover {
            border-color: inherit;
        }
    }
    &:active {
        color: v.$color-orange-200
    }
}