@use '../../variables' as v;


.header__contact {
    position: relative;
    color: inherit;
    @include v.P-normal;
    margin: 0;
    z-index: 3;
}

@media screen and (max-width: 400px) {
    .header__contact {
        @include v.Mobile-P-normal;
        height: 22px;
        width: 124px;
    }
}