@use '../../variables' as v;

.user-reviews__card {

    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: space-between;
    min-height: 673;
    background-color: v.$color-biege-200;
    border-radius: 50px;
    flex: 1 0 0;
    align-self: stretch;
}

@media screen and (max-width: 500px) {
    .user-reviews__card {
        padding: 20px;
        border-radius: 20px;
    }
}