.change-tour__list {
    display: grid;
    max-width: 100%;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, 370px);
    grid-auto-rows: 531px;
    padding: 0;
    list-style: none;
    margin: 0;
}

@media screen and (max-width: 1050px) {
    .change-tour__list {
        grid-gap: 18px;
        grid-template-columns: repeat(auto-fit, 450px);
    }
}

@media screen and (max-width: 850px) {
    .change-tour__list {
        grid-template-columns: repeat(auto-fit, 318px);
        grid-auto-rows: 318px;
    }
}