.footer__wrapper {
    display: flex;
    width: 1168px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

@media screen and (max-width: 1250px) {
    .footer__wrapper {
        width: 918px;
    }
}

@media screen and (max-width: 950px) {
    .footer__wrapper {
        flex-direction: column;
        width: auto;
        justify-content: center;
        align-items: center;
        gap: 7px;
    }
}