@use '../../variables' as v;

.change-tour__link {
    color: v.$color-black;
    text-decoration: none;
    @include v.P-big;
    box-sizing: border-box;
    transition: 500ms;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    &:active {
        color: v.$color-orange-200;
        text-decoration: underline;
        text-underline-offset: 5px;
        transition: color 0.3s;
    }
    &:target {
        color: v.$color-orange-200;
        text-decoration: underline;
        text-underline-offset: 5px;
        transition: color 0.3s; 
    }
    &:hover {
        border-color: inherit;
    }
}

@media screen and (max-width: 850px) {
    .change-tour__link {
        @include v.Mobile-P-big;
    }
}