.change-tour {
    margin: auto;
    width: 62%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1850px) {
    .change-tour {
        width: 80%;
    }
}

@media screen and (max-width: 1040px) {
    .change-tour {
        width: 91%;
        margin: auto;
     
    }
}
