.history-tour__card-footer {
    display: flex;
    width: 100%;
    padding: 0px 65px 60px 60px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

@media screen and (max-width: 1025px) {
    .history-tour__card-footer {
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 850px) {
    .history-tour__card-footer {
        padding: 0;
    }
}