@use '../../variables' as v;

.footer__caption {
    color: v.$color-gray-300;
    @include v.P-normal;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 500px) {
    .footer__caption {
        @include v.Mobile-P-normal;
        text-align: center;
    }
}