// Colors

$color-black: #1B1F2B;
$color-orange-200: #EFA501;
$color-green-400: #286562;
$color-gray-300: #A6A6A6;
$color-biege-200: #F4F0E9;
$color-white: #FFF;
$color-orange-100: #F8E6BE;
$color-green-300: #3B7E7B;
$color-gray-200: #D9DFDB;
$color-biege-100: #F9F7F4;
$color-green-200: #627F7E;
$color-gray-100: #F1F3F2;
$color-green-100: #E0F0E5;

// Fonts
@mixin H1 {
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 109%;
    letter-spacing: 1.92px;
}

@mixin H2 {
    font-size: 59px;
    font-style: normal;
    font-weight: 700;
    line-height: 124%;
}

@mixin H3 {

    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 122%;
}

@mixin P-big {
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 122%;
}

@mixin P-normal {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 142%;
}

@mixin P-small {
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 142%;
    letter-spacing: -0.17px;
}

@mixin Mobile-H1 {
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 112%;
    letter-spacing: 0.68px;
}

@mixin Mobile-H2 {
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 112%;
    letter-spacing: 0.68px;
}

@mixin Mobile-H3 {
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.92px;
}

@mixin Mobile-P-big {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 142%;
}

@mixin Mobile-P-small {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 142%;
    letter-spacing: -0.16px;
}

@mixin Mobile-P-normal {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 142%;
}

// Screens sizes
$screen-mobile: 767px;
$screen-tablet: 1024px;
$screen-desktop: 1280px;

// Media queries

@mixin for-size($size) {
    @if $size == mobile {
      @media (max-width: $screen-mobile) { @content; }
    }  @else if $size == tablet {
      @media (max-width: $screen-tablet) { @content; }
    } @else if $size == desktop {
      @media (max-width: $screen-desktop) { @content; }
    } 
  }