.global-link {
    color: v.$color-black;
    text-decoration: none;
   
    transition: 500ms;
    border-bottom: 1px solid transparent;
    @media (hover: hover) {
        &:hover {
            border-color: inherit;
        }
    }

    &:active {
        color: v.$color-green-400;
    }
}