@use './variables' as v;

.user-reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__list {
        width: 1170px;
        display: flex;
        gap: v.$gap-30;
        @include v.paddingAndMargin(0,0);
        list-style: none;
       
       
    }

    &__card-user-wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__card-user-tour {
        color: v.$color-gray-300;
        @include v.P-small;
        @include v.paddingAndMargin(0,0);
    }

    &__card-user-name {
        @include v.H3;
        @include v.paddingAndMargin(0,0);
    }

    &__card-user-avatar {
        border-radius: 100px;
    }

    &__card-user {
        display: flex;
        justify-content: space-between;
        padding-top: 63px;
    }

    &__card-text {
        @include v.P-big;
        @include v.paddingAndMargin(0,0);
    }
    
    &__card {

        display: flex;
        flex-direction: column;
        padding: 40px;
        justify-content: space-between;
        min-height: 673;
        background-color: v.$color-biege-200;
        border-radius: 50px;
        flex: 1 0 0;
        align-self: stretch;
    }

    @include v.for-size(desktop) {
        &__list {
            width: 918px;
            padding: auto;
            gap: 18px;
        }
    }

    @include v.for-size(tablet) {
        &__list {
            box-sizing: border-box;
            flex-direction: column;
            width: 100%;
            padding: 15px 21px 0 21px;
        }
        &__card-user {
            padding-top: 40px;
            align-items: flex-end;
        }
    }

    @include v.for-size(mobile) {
        &__card-user-tour {
            @include v.Mobile-P-small;
        }
        &__card-user-name {
            @include v.Mobile-H3;
        }
        &__card-text {
            @include v.Mobile-P-big
        }
        &__card {
            padding: 20px;
            border-radius: 20px;
        }
    }
    
}