.history-tour__card-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    flex-shrink: 0;
    padding: 60px 0px 0px 60px;
    width: 554px;
}

@media screen and (max-width: 850px) {
    .history-tour__card-text-wrapper {
        padding: 0;
        width: auto;
        gap: 20px;
    }
}

@media screen and (max-width: 450px) {
    .history-tour__card-text-wrapper {
        gap: 23px;
    }
}