@use '../variables' as v;

.global-link {
    text-decoration: none;
    color: v.$color-black;
    box-sizing: border-box;
    transition: 500ms;
    border-bottom: 1px solid transparent;
    @media (hover: hover) {
        &:hover {
            border-color: inherit;
        }
    }

    &:active {
        color: v.$color-green-400;
    }
}