@use '../../variables' as v;

.construct-tour__form-reset {
    background-color: v.$color-green-100;
    color: v.$color-green-400;
    @media (hover: hover) {
        &:hover {
            background-color: v.$color-gray-100;
        }
        &:active {
            background-color: v.$color-gray-200;
        }
    }
    }
