@use '../../variables' as v;

.cosntruct-tour__form-submit {
    background-color: v.$color-green-400;
    color: v.$color-white;
    &:hover {
        background-color: v.$color-green-300;
    }
    &:active {
        background-color: v.$color-green-200;
    }
}