@use '../../variables' as v;

.change-tour__button {
    color: v.$color-white;
    @include v.P-big;
    background: transparent;
    border: 0;
    width: 200px;
    height: 42px;
    
}

@media screen and (max-width: 850px) {
    .change-tour__button {
        @include v.Mobile-P-big;
        width: 123px;
        height: 26px
    }
}