.cosntruct-tour__form-label-checkbox {
    display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 37px;
	margin-right: 0;
    user-select: none;
    &::before {
        content: "";
        display: inline-block;
        width: 26px;
        height: 26px;
        position: absolute;
        left: 0;
        bottom: 1px;
        background: url('./images/checkboxbutton.svg') 0 0 no-repeat;
    }
}

input[type=checkbox]:checked + .cosntruct-tour__form-label-checkbox:before {
	background: url('./images/checkbox-checked.svg') 0 0 no-repeat;
}

@media screen and (max-width: 500px) {
    .cosntruct-tour__form-label-checkbox {
        padding-left: 30px;
        &::before {
            width: 20px;
            height: 20px;
            background: url('./images/mobile-checkboxbutton.svg') 0 0 no-repeat;
        }
    }

    input[type=checkbox]:checked + .cosntruct-tour__form-label-checkbox:before {
        background: url('./images/mobile-checkbox-checked.svg') 0 0 no-repeat;
    }
}